#root {
  > div {
    height: 100%;
    height: 100vh;
    > div {
      align-items: center;
      height: 100%;
      overflow-y: auto;
    }
  }
}

@each $type in valid invalid {
  @each $tag in input button {
    #{$tag}.form-control.is-#{$type} {
      background-position-x: calc(100% - 0.475em);
    }
  }
  .input-group.is-#{$type} ~ .#{$type}-feedback {
    display: block;
  }
  .#{$type}-tooltip {
    right: 0;
  }
}

@media (min-width: 576px) {
  @each $side in left right {
    form .field-sm-#{$side} {
      padding-#{$side}: 0.4rem !important;
    }
  }
}

.custom-select {
  -webkit-appearance: none;
}
